## ==========================================
## Local Databases and Environments
## ==========================================
*.sqlite
*.db
*.db-shm
*.db-wal
*.env
*.env.local

## ==========================================
## Operating System Files & Editors
## ==========================================
.DS_Store
Thumbs.db
*.sw?
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

## ==========================================
## Dotnet & C# (.NET / Visual Studio / JetBrains)
## ==========================================
bin/
obj/
artifacts/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
TestResults/
*.coverage
*.coveragexml
.vs/
.idea/
*.user
*.suo
*.userossc
*.sln.docstates
*.userprefs
appsettings.Development.json

## ==========================================
## Own and Local Exclusions
## ==========================================
proofs/
z_proofs/
astro/
astro_first/
A_Proofs.http
*.sh
appsettings.Local.json
appsettings.Development.local.json
Migrations/
